.animalDetailsCardContainer {
    width: 40%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.animal-container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
  }
