
.commentButton {
    margin-left: 1em;
    margin-top: 2em;
}

.commentCard {
    background-color:lightgray;   
    border-radius: 1em;
    border-color: white;
    margin-top: 1em
}

.commentTextArea {
    white-space: pre-wrap;
}

.deleteCommentCard {
    margin: 1em auto;
    margin-top: 30px;
    width: 500px;
}
