.commentCard {
    background-color:lightgray;   
    border-radius: 1em;
    border-color: white;
    margin-top: 1em
}


.deleteAdoptionCard {
    margin: 1em auto;
    margin-top: 30px;
    width: 100px;
}

